
<!-- <script src="resources/jquery/jquery-2.1.4.js"></script> -->
<script src="resources/jquery/jquery.crossword.js"></script>
<script src="resources/web-inf/script_crossword.js"></script>

<link rel="stylesheet" href="resources/css/styles_crossword.css">


	
<div id="puzzle-wrapper"><!-- crossword puzzle appended here --></div>