<div>
<style type="text/css">
  .listado{width: 100px;}
  li.active {
    background-color: #b2dfdb!important;
  }
</style>
    
<ul id="units" class="collapsible" data-collapsible="accordion">
<li id="personal">
<div class="collapsible-header mic_font index_color"><img class="responsive-img" src="resources/images/unit1.png">My Personal World</div>
<div class="collapsible-body" id="myPersonalWorld">
  <div class="row valign-wrapper">
    <div class="col s10">

      <a class="waves-effect waves-yellow" onclick="openz('InTheClassroom');"><mic_a>In The</mic_a> <mic_b>Classroom</mic_b></a>
      <a class="waves-effect waves-yellow mic_font" onclick="openz('MyClassroom');"><mic_a>My</mic_a> <mic_b>Classroom</mic_b></a>
      <a class="waves-effect waves-yellow" onclick="openz('MySchoolbag');"><mic_b>Mem<mic_a>o</mic_a>ry</mic_b> <mic_a>Ga<mic_a>m</mic_a>e</mic_a>
      <!--<a class="waves-effect waves-yellow" onclick="openz('MyFamily');"><mic_b>My</mic_b> <mic_a>Family</mic_a></a>!-->
      <a href="#" class="waves-effect waves-yellow" onclick="openz('welcome');"><mic_a>Welcome</mic_a></a>
      <a class="waves-effect waves-yellow" href="words1.html"><mic_b>What</mic_b> <mic_a>a mess</mic_a></a>
      <a class="waves-effect waves-yellow" onclick="openz('numbers');"><mic_b>Numbers time</mic_b></a>
      <a class="waves-effect waves-yellow" onclick="openz('pencils');"><mic_b>Pencils</mic_b></a>
      <!-- <a class="waves-effect waves-yellow" href="crossword1.html"><mic_b>C<mic_a>ross</mic_a>W<mic_a>ord</mic_a></mic_b></a> -->
      <a class="waves-effect waves-yellow" onclick="openz('crossword');"><mic_b>C<mic_a>ross</mic_a>W<mic_a>ord</mic_a></mic_b></a>
      <a class="waves-effect waves-yellow" onclick="openz('Mandala');">
      <mic_b>M<mic_a>andala</mic_a></mic_b></a>
    </div>
  </div>
</div>
</li>
<li>
<div class="collapsible-header mic_font index_color"><img class="responsive-img" src="resources/images/unit2.png">My Social Life</div>
<div class="collapsible-body">
    <div class="row valign-wrapper">
    <div class="col s10">
    <a class="waves-effect waves-yellow" onclick="openz('MySocialLife');"><mic_b>My Social </mic_b><mic_a>Life</mic_a></a>
      <a class="waves-effect waves-yellow" onclick="openz('Lets play');"><mic_b>Let's play</mic_b></a>
      <a class="waves-effect waves-yellow" onclick="openz('Yummy');"><mic_b>Yummy!</mic_b></a>
      <a class="waves-effect waves-yellow" onclick="openz('AtTheClub');"><mic_b>At The </mic_b><mic_a>Club</mic_a></a>
      <a class="waves-effect waves-yellow" onclick="openz('memoryadv');"><mic_b> Memory <mic_a>Advance</mic_a> </mic_b> </a>
      <a class="waves-effect waves-yellow" onclick="openz('timeToRelax');"><mic_b>Time <mic_b>To</mic_b> Relax</mic_a></a>
    </div>
  </div>
</div>
</li>
<li id="world">
<div class="collapsible-header mic_font index_color"><img class="responsive-img" src="resources/images/unit3.png">The World Around Us</div>
<div class="collapsible-body" id="myhometown">
  <div class="row valign-wrapper">
      <div class="col s10">
        <a class="waves-effect waves-yellow" href="MyHomeTown.html"><mic_b>My </mic_b><mic_a>Home</mic_a><mic_b>Town</mic_b></a>
        <a class="waves-effect waves-yellow" onclick="openz('InMyCity');"><mic_b>In My </mic_b><mic_a>City</mic_a></a>
        <a class="waves-effect waves-yellow" onclick="openz('TheWorldAroundUs');"><mic_b>World Around Us</mic_b></a>
        <a class="waves-effect waves-yellow" onclick="openz('Wordfind');"><mic_b>Wordfind</mic_b></a>
      </div>
  </div>
  </div>
</li>
</ul>
<script type="text/javascript">
function checkCSS(){$("#pablo_style").attr("disabled", "disabled");}
var modal_ = {'myclassroom4':false,'InTheClassroom2':false,'MyFamily2':false,'Yummy':false,'AtTheClub':false,'InMyCity':false};
function openz(exer){
  $('.button-collapse').sideNav('hide');//ocultar navbar
  var div = $("#contenido");
  switch(exer){
    case "MyClassroom":
      checkCSS();
      initLesson(div,MyClassroom_lesson4,modal_.myclassroom4);//ver data.js y dragNdrop_core.js
      modal_.myclassroom4=true;
      break;
    case "InTheClassroom":
      checkCSS();
      initLesson(div,InTheClassroom_lesson2,modal_.InTheClassroom2);
      modal_.InTheClassroom2=true;
      break;
   /* case "MyFamily":
      checkCSS();
      initLesson(div,MyFamily_lesson2,modal_.MyFamily2);
      modal_.MyFamily2=true;
      break;*/
    case 'Yummy':
      checkCSS();
      initLesson(div,Yummy,modal_.Yummy);
      modal_.Yummy=true;
      break;
    case 'AtTheClub':
      checkCSS();
      initLesson(div,AtTheClub,modal_.AtTheClub);
      modal_.AtTheClub=true;
      break;
    case 'InMyCity':
      checkCSS();
      initLesson(div,InMyCity,modal_.InMyCity);
      modal_.InMyCity=true;
      break;
    case "MySchoolbag":
      $.get("memoria.html", function( data ) {
        div.html( cardPanel("Memory Game","resources/images/tincho reading.png")+data );
      });
    break;
    case "memoryadv":
      $.get("memoryadv.html", function( data ) {
        div.html( cardPanel("Memory Game Advance","resources/images/tincho reading.png")+data );
      });
    break;
    case "Lets play":
      $.get("labyrinth.html", function( data ) {
          div.html(cardPanel("Let's Play, Help Tincho find the chipá","resources/images/tincho reading.png")+ data );
        });
    break;
    case "whatamess":
      $.get("words.html", function( data ) {
          div.html(cardPanel("What a Mess","resources/images/tincho reading.png")+ data );
        });
    break;
    case "welcome":
        checkCSS();
        $.get("tablero1.html",function(data){
        div.html(data);
      });
    break;
    case "numbers":
      $.get("numbers.html",function(data){
        div.html(cardPanel("Color the Numbers","resources/images/tincho reading.png")+ data );
      });
    break;
    case "pencils":
      $.get("pencils.html",function(data){
        div.html(cardPanel("How many pencils are there?","resources/images/tincho reading.png")+ data );
      });
    break;
    case "crossword":
      $.get("crossword.html",function(data){
        div.html(cardPanel("Crossword","resources/images/tincho reading.png")+ data );
      });
    break;
    case "timeToRelax":
      $.get("food-game.html",function(data){
        div.html(cardPanel("Drag the Food to the correct place","resources/images/tincho reading.png")+ data );
      });
    break;
    case "MySocialLife":
      checkCSS();
      $.get("tablero2.html",function(data){
        div.html(data);
      });
      break;
    case "TheWorldAroundUs":
      checkCSS();
      $.get("tablero3.html",function(data){
        div.html(data);
      });
      break;
    case "Wordfind":
      $.get("wordfind.html",function(data){
        div.html(cardPanel("Search the words","resources/images/tincho reading.png")+ data );
      });
    break;
    case "Mandala":
      $.get("mandala.html",function(data){
        div.html(cardPanel("Colour the mandala","resources/images/tincho reading.png")+ data );
      });
    break;
  }
}
  $(function(){
    $('.collapsible').collapsible();//inicializar acordeon
  })
</script>
</div>