
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"> -->
	<link rel="stylesheet" href="resources/css/css-food/styles.css">

	
	<!-- <script src="resources/web-inf/js-food/jquery-3.1.1.js"></script>
	<script src="resources/web-inf/js-food/jquery-ui.min.js"></script>
	<script src="resources/web-inf/js-food/magia.js"></script> -->
	<!-- <script src="js/jquery.ui.touch-punch.min.js"</script> -->

	<!-- <script src="resources/web-inf/js-food/jquery.min.js"></script> -->
    <script src="resources/web-inf/js-food/jquery-ui.min.js"></script>
    <script src="resources/web-inf/js-food/jquery.ui.touch-punch.min.js"></script>
    <script src="resources/web-inf/js-food/magia.js"></script>


<div class="game">
	<div class="canvas">
			<div class="game-container">
				<div class="piezas" id="dragPile"></div>
				<div class="container-plato" style="float: left;width: 100%;">
					<div id="dragSlots" class="drag-slots">
						<div section="section2" class="ui-droppable"></div>
						<div section="section2" class="ui-droppable"></div>					
						<div section="section3" class="ui-droppable"></div>
						<div section="section4" class="ui-droppable"></div>
					</div>
				</div>			
			</div>
			

			<!-- <div id="counter">
					 <h1>You keep: 0</h1>

					</div> -->
			<!-- <div class="row" id="botons">
			<a class="waves-effect waves-light btn" onclick="init();" id="limpiar" disabled><i class="material-icons right">loop</i>Reset</a>
		</div> -->
		<div style="float: left;">
		<button class="btn" onclick="initgame()">Reset</button>	
		</div>
		<!-- <div id="success">
			<h1>Excellent!</h1>
			<img class="responsive-img" src="resources/images/tincho paying.png">
		</div> -->

		</div>
	<!-- <span class="boxes" value="1"> Draggable1 </span>
		<span class="boxes" value="2"> Draggable2 </span>
		<span class="boxes" value="3"> Draggable3 </span>
		<span class="boxes" value="4"> Draggable4 </span>
		<span class="boxes" value="5"> Draggable5 </span>
		<span class="boxes" value="6"> Draggable6 </span>
		<span class="boxes" value="7"> Draggable7 </span>
		<div id="droppable1" class="droppable" value="1">
			droppable area
		</div> -->




</div>
	