      <!--<link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css">-->
    <!--<script src="resources/labyrinthjs/jquery-1.11.0.min.js"></script>-->
	<script src="resources/labyrinthjs/jquery-ui.min.js"></script>
    <script src="resources/labyrinthjs/jquery.mobile.custom.js"></script>
    <script src="resources/labyrinthjs/jquery.labyrinth.js"></script>

    <!-- LABYRINTH PLUGIN (script & style) -->
    <link href="resources/css/labyrinth/jquery.labyrinth.css" rel="stylesheet">
   
    <!-- STYLESHEET FOR THIS PARTICULAR EXAMPLE -->
    <link  rel="stylesheet" href="resources/css/labyrinth/example.css" type="text/css">
    
    <!-- EXAMPLE JAVASCRIPT CODE USING THE PLUGIN --> 
    <script>
    
    $(function(){

    	var celda=35;

    	function resize(){
    		
   //  		$(window).height();   // returns height of browser viewport
			// $(document).height(); // returns height of HTML document
			// $(window).width();   // returns width of browser viewport
			// $(document).width(); // returns width of HTML document
		//alert($(document).width());
		if ($(document).width() < 700){
			celda=27;			
			$('#lab1-mouse').css({"width":"12%","transform":"translate(40%,-30%)"});
			$('#lab1-cheese').css({"width":"12%","transform":"translate(-47%,-96%)"});
		}else{
			celda=35;
			$('#lab1-mouse').css({"width":"16%","transform":"translate(-10%,0%)"});
			$('#lab1-cheese').css({"width":"13%","transform":"translate(-10%,0%)"});
		}
		
		$("#labyrinth1").labyrinth({
			cellSize: celda, 
			rows: 10, 
			columns: 12, 
			borderWidth: 5,
			borderLineCap: "square", //square is default
			borderColor: "#406060",
			drawWidth: 2,
			drawColor: "#000000",
			
			// Cells are numbered from left to right
			//  and from top to bottom, row-wise. First is 0
			inOutPairs: [[48,83]], 
			
			// Padding (outside labyrinth): top, right, bottom, left.
			// Padding area is drawable too.
			padding: [2, 80, 2, 120],
			// onResize: function(n){
			// 	alert('hola');
			// }

			onComplete: function(n) {
				Materialize.toast('Congratulations! Tincho got the chipá!', 4000)
				this.reset();
			},
			onResize: function(cellSize){
				// $(window).on('resize', function(){
				// 	alert('hola');
				// });
			}
	    	});

		    //$("#canvas").style.width  = 1000;
			//$("#canvas").style.height = 1000;
			//$('#canvas').attr({width:400,height:300});//.css({width:'800p‌​x',height:'600px'});
        //alert(celda);
		}
	  $(document).ready(function(){
	    resize();
	    $(window).on("resize", function(){                      
	        resize();
	    });
	  });
        // First labyrinth: one in-out pair. 
 
    	

    	
  //   	$(window).on('resize', function(){
		// 	alert('hola');
		// });

    });
        
    </script>
  	<!-- MARKUP --> 
  	
	  	<div id="labyrinth1" class="labyrinth col s12">
	  		<img class="labyrinth-image" id="lab1-mouse" src="resources/images/labyrinth/tincho.png">
	  		<img class="labyrinth-image" id="lab1-cheese" src="resources/images/labyrinth/chipa.png">
	  	</div>
  	

