		<!-- contenido -->
<script type="text/javascript" src="resources/web-inf/mandala/mandala.js"></script>
<link rel="stylesheet" href="resources/css/mandala.css">
<div id="content" class="">
        <div>
          <h6>Select A Color:</h6>
            <div style="background-color:red;" class="selection" name="red">&nbsp;</div>
            <div style="background-color:orange;" class="selection" name="orange">&nbsp;</div>
            <div style="background-color:yellow;" class="selection" name="yellow">&nbsp;</div>
            <div style="background-color:green;" class="selection" name="green">&nbsp;</div>
            <div style="background-color:blue;" class="selection" name="blue">&nbsp;</div>
            <div style="background-color:purple;" class="selection" name="purple">&nbsp;</div>
            <div style="background-color:white;" class="selection" name="white">&nbsp;</div>
            <div style="background-color:black;" class="selection" name="black">&nbsp;</div>
            <div style="background-color:brown;" class="selection" name="brown">&nbsp;</div>
            &nbsp;
            <div class="selected"></div>
        </div>
        <div class="svg-container">
<!--             <object data="resources/images/mandala/mandala.svg" type="image/svg+xml"
                                         id="mandala" style="width: 100%; height:100%; display: block;"></object> -->
                      <!-- <?xml version="1.0" encoding="UTF-8" standalone="no"?> -->
          <!-- Created with Inkscape (http://www.inkscape.org/) -->
<!-- width="531.5625"
             height="530.625" -->
          <svg
             xmlns:dc="http://purl.org/dc/elements/1.1/"
             xmlns:cc="http://creativecommons.org/ns#"
             xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
             xmlns:svg="http://www.w3.org/2000/svg"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
             id="svg3336"
             version="1.1"
             inkscape:version="0.91 r13725"
             width="100%"
             height="100%"
             viewBox="0 0 531.5625 530.625"
             sodipodi:docname="mandala.svg"
             inkscape:label="capa alta">
            <metadata
               id="metadata3342">
              <rdf:RDF>
                <cc:Work
                   rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type
                     rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <defs
               id="defs3340" />
            <sodipodi:namedview
               pagecolor="#ffffff"
               bordercolor="#666666"
               borderopacity="1"
               objecttolerance="10"
               gridtolerance="10"
               guidetolerance="10"
               inkscape:pageopacity="0"
               inkscape:pageshadow="2"
               inkscape:window-width="1366"
               inkscape:window-height="705"
               id="namedview3338"
               showgrid="false"
               inkscape:zoom="2.0202592"
               inkscape:cx="66.437046"
               inkscape:cy="176.01207"
               inkscape:window-x="-8"
               inkscape:window-y="-8"
               inkscape:window-maximized="1"
               inkscape:current-layer="svg3336"
               showguides="false" />
            <g
               inkscape:groupmode="layer"
               id="layer3"
               inkscape:label="capa 0">
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 167.08399,263.71712 c -32.92289,-31.6887 2.80766,-76.71164 29.08064,-67.52548 -7.62634,-27.65291 38.76769,-63.24678 70.35874,-28.77883 16.40551,-25.52921 64.39317,-16.83859 69.18038,27.88657 41.94735,1.54012 51.97177,45.19111 28.97748,69.40771 31.43851,40.19213 -6.66744,73.52642 -30.61746,69.07113 -1.75798,43.28115 -40.12218,53.49209 -68.93119,29.81543 -15.6987,20.50824 -64.865,20.58707 -70.34946,-29.77846 -32.18359,-0.26004 -54.97487,-35.81938 -27.69913,-70.09807 z"
                 id="path4461-6"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 194.5295,334.61054 c -32.64191,0.62847 -55.4379,-37.42132 -26.87422,-70.02293 -28.26294,-23.22416 -8.23495,-70.72871 27.86419,-69.56312 2.19061,-39.99793 38.82629,-53.2725 69.79303,-30.68914 25.97145,-16.12018 65.53986,-16.90569 70.783,30.19415 34.26219,4.30428 56.60361,37.83624 28.70919,70.783 23.67909,24.40998 13.33546,62.06729 -27.71922,69.29804 -10.58146,44.59562 -41.53771,51.72095 -71.27798,29.69916 -28.32859,22.8154 -65.44988,11.49669 -71.27799,-29.69916 z"
                 id="path4463"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccccccc" />
            </g>
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.61825895;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path4170"
               cx="265.48105"
               cy="264.61893"
               rx="16.916258"
               ry="17.441271" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
               d="m 129.19135,305.40637 c -22.76936,-8.90975 -22.76936,-8.90975 -22.76936,-8.90975 l 18.80947,-17.32451 24.25431,9.40473 z"
               id="path4701"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 406.56742,278.16975 17.88709,18.40217 -23.86807,9.17878 -19.78536,-18.72686 z"
               id="path4701-1"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 391.16623,331.75877 9.40016,23.4919 -25.56237,-0.70679 -10.81893,-23.65738 z"
               id="path4701-1-2"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccc" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 354.65131,374.48144 c 0.89023,24.43429 0.89023,24.43429 0.89023,24.43429 l -23.38013,-10.35874 -1.02727,-25.99357 z"
               id="path4701-1-4"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 306.34491,400.85404 c -8.25432,23.01507 -8.25432,23.01507 -8.25432,23.01507 l -17.85583,-18.30583 8.70658,-24.5136 z"
               id="path4701-1-4-6"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 251.05539,405.46597 c -16.11745,18.38626 -16.11745,18.38626 -16.11745,18.38626 l -9.90115,-23.57757 17.08763,-19.61463 z"
               id="path4701-1-4-9"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="M 178.17865,373.21639 C 200.25628,362.709 200.25628,362.709 200.25628,362.709 l -0.23722,25.57103 -23.45472,11.25157 z"
               id="path4701-1-4-8"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 143.78019,331.20235 c 24.43586,-0.84628 24.43586,-0.84628 24.43586,-0.84628 l -10.40077,23.36147 -25.99538,0.9805 z"
               id="path4701-1-4-8-3"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 132.43468,225.6274 c 17.78969,16.77361 17.78969,16.77361 17.78969,16.77361 l -23.92111,9.03961 -18.98207,-17.78771 z"
               id="path4701-1-4-8-4"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 156.95617,176.82973 c 9.36523,22.58583 9.36523,22.58583 9.36523,22.58583 l -25.52549,-1.5439 -10.03805,-23.99916 z"
               id="path4701-1-4-8-7"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 198.90313,142.25066 c 0.94255,24.43232 0.94255,24.43232 0.94255,24.43232 l -23.40226,-10.30864 -1.08291,-25.99133 z"
               id="path4701-1-4-8-0"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 251.4043,125.69074 c -8.31855,22.99191 -8.31855,22.99191 -8.31855,22.99191 l -17.80464,-18.35561 8.77502,-24.48919 z"
               id="path4701-1-4-8-34"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 304.9942,130.61453 c -16.3576,18.17294 -16.3576,18.17294 -16.3576,18.17294 l -9.59056,-23.70558 17.34384,-19.38848 z"
               id="path4701-1-4-8-48"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 353.52993,156.65525 c -22.3187,9.98512 -22.3187,9.98512 -22.3187,9.98512 l 0.8387,-25.55838 23.71292,-10.69669 z"
               id="path4701-1-4-8-05"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 389.57129,197.79632 c -24.41084,1.39205 -24.41084,1.39205 -24.41084,1.39205 l 9.8762,-23.58801 25.96699,-1.56109 z"
               id="path4701-1-4-8-2"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 405.11011,250.44882 c -22.78087,-8.88026 -22.78087,-8.88026 -22.78087,-8.88026 l 18.787,-17.34884 24.26649,9.37332 z"
               id="path4701-1-4-8-76"
               inkscape:connector-curvature="0" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 94.047341,451.92222 c 22.850949,-2.94726 40.417659,-10.09088 58.903339,-17.32451 -1.05519,20.59947 -1.80636,41.12294 4.45487,59.89331 l -21.1094,-11.4147 c 1.39461,-4.30117 2.57333,-8.08245 0.31999,-12.83961 -1.16476,-2.99091 -4.49412,-5.37452 -8.44479,-6.89978 -8.78662,-1.51922 -10.88346,1.48046 -14.81955,3.92986 z"
               id="path4850"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8"
               cx="124.77784"
               cy="475.67374"
               rx="12.654758"
               ry="12.654757" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 36.001488,373.02417 c 25.414917,6.31294 42.298528,5.82665 61.108049,5.9622 -8.682667,18.70996 -17.054951,37.46315 -18.268067,57.21304 l -15.308505,-18.4812 c 2.902011,-3.46747 5.409364,-6.53352 5.098687,-11.78819 0.03834,-3.20947 -2.157957,-6.66527 -5.251498,-9.55737 -7.580813,-4.6951 -10.647346,-2.69731 -15.213859,-1.89773 z"
               id="path4850-1"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0"
               cx="203.62769"
               cy="356.24167"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(0.92743169,0.3739926,-0.3739926,0.92743169,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 11.922877,276.20233 c 21.300548,15.23345 37.175392,21.00251 54.611505,28.05931 -14.965844,14.19419 -29.659074,28.54293 -38.06412,46.45619 l -7.421571,-22.8216 c 3.975489,-2.15419 7.436176,-4.08061 9.083558,-9.08004 1.218243,-2.96951 0.449847,-6.99144 -1.360371,-10.81993 -5.317403,-7.15807 -8.904301,-6.43078 -13.444131,-7.37009 z"
               id="path4850-1-0"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-6"
               cx="229.78394"
               cy="215.60463"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(0.72437054,0.68941085,-0.68941085,0.72437054,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 26.691053,178.51568 c 13.613481,22.37061 25.950757,33.90683 39.218686,47.24018 -19.33563,7.18223 -38.481177,14.61361 -53.241871,27.79131 l 2.129989,-23.90331 c 4.501957,-0.42121 8.441026,-0.83498 11.918235,-4.78683 2.285882,-2.25319 3.157503,-6.25401 2.994966,-10.48578 -2.081684,-8.6706 -5.666249,-9.4093 -9.473251,-12.05488 z"
               id="path4850-1-6"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-9"
               cx="205.23711"
               cy="69.878525"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(0.39570453,0.91837788,-0.91837788,0.39570453,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 77.725615,93.297585 c 3.950592,25.887525 10.894928,41.284575 18.006223,58.698525 -20.610313,-0.81628 -41.141114,-1.32943 -59.837626,5.14901 l 11.16926,-21.24035 c 4.317053,1.34464 8.111749,2.47944 12.842459,0.17109 2.977197,-1.19936 5.32205,-4.55613 6.801405,-8.52422 1.417237,-8.80364 -1.606548,-10.86556 -4.101419,-14.77299 z"
               id="path4850-1-9"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-0"
               cx="124.923"
               cy="-52.887115"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(0.01159463,0.99993278,-0.99993278,0.01159463,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="M 158.35981,34.489913 C 152.08457,59.914159 152.5959,76.797039 152.48825,95.606739 133.76544,86.951833 114.99985,78.60738 95.248185,77.423558 L 113.70665,62.08765 c 3.47177,2.896873 6.54154,5.399673 11.79574,5.081198 3.20952,0.03354 6.66207,-2.167844 9.54958,-5.265671 4.68384,-7.587767 2.68151,-10.651329 1.87516,-15.216658 z"
               id="path4850-1-61"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-1"
               cx="3.7291505"
               cy="-136.05557"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(-0.37261646,0.92798544,-0.92798544,-0.37261646,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="M 254.46941,11.375478 C 238.96062,32.476391 232.98587,48.274972 225.70321,65.617967 211.70461,50.469041 197.54789,35.5907 179.74529,26.953721 l 22.91607,-7.124556 c 2.10237,4.003131 3.98368,7.488542 8.9613,9.200716 2.95344,1.256704 6.98501,0.540608 10.83669,-1.219736 7.22651,-5.223992 6.54588,-8.820033 7.54406,-13.347281 z"
               id="path4850-1-5"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-2"
               cx="-138.9451"
               cy="-166.23338"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(-0.69876026,0.71535593,-0.71535593,-0.69876026,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="M 352.49167,25.168808 C 330.26164,39.010679 318.85237,51.465454 305.65559,64.86924 298.27572,45.60817 290.64866,26.539737 277.32049,11.914767 l 23.92387,1.885082 c 0.4673,4.497405 0.92138,8.432032 4.90863,11.86859 2.27649,2.262682 6.28603,3.093285 10.5159,2.887425 8.64883,-2.170378 9.35079,-5.762319 11.95724,-9.596215 z"
               id="path4850-1-90"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-8"
               cx="-281.1485"
               cy="-142.50281"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(-0.91427725,0.40508901,-0.40508901,-0.91427725,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 436.86457,76.72352 c -25.87348,4.041545 -41.24603,11.039947 -58.63489,18.212396 0.74384,-20.613051 1.18484,-41.145536 -5.35927,-59.819162 l 21.27948,11.094544 c -1.32947,4.32175 -2.45092,8.120415 -0.12597,12.842982 1.20986,2.972949 4.57482,5.306009 8.54808,6.771409 8.80857,1.386291 10.85985,-1.644725 14.75849,-4.15331 z"
               id="path4850-1-4"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-87"
               cx="-404.42612"
               cy="-60.221027"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(-0.99988586,0.01510862,-0.01510862,-0.99988586,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 495.72055,157.66065 c -25.42496,-6.27235 -42.30778,-5.7591 -61.11749,-5.86461 8.65278,-18.7238 16.9951,-37.49034 18.17668,-57.242137 l 15.33801,18.456727 c -2.89648,3.4721 -5.39893,6.54215 -5.07986,11.79632 -0.0332,3.20953 2.1686,6.66182 5.26675,9.54897 7.5883,4.68299 10.65164,2.68031 15.21687,1.87343 z"
               id="path4850-1-3"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-09"
               cx="-488.04227"
               cy="62.099476"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(-0.92802773,-0.37251111,0.37251111,-0.92802773,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 520.57156,253.30296 c -21.2677,-15.27927 -37.13008,-21.08251 -54.55095,-28.17684 14.99636,-14.16192 29.72046,-28.47898 38.16406,-46.3741 l 7.3724,22.83752 c -3.9801,2.14562 -7.44493,4.06458 -9.10308,9.06046 -1.2246,2.96689 -0.4649,6.99046 1.33707,10.82283 5.30197,7.1695 8.89043,6.44993 13.42823,7.39903 z"
               id="path4850-1-05"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-93"
               cx="-520.60706"
               cy="200.34163"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(-0.72288433,-0.69096906,0.69096906,-0.72288433,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 505.18525,351.92044 c -13.59418,-22.38235 -25.92149,-33.92921 -39.17792,-47.274 19.34183,-7.16555 38.49378,-14.58041 53.26584,-27.74536 l -2.15062,23.90145 c -4.50231,0.41734 -8.44174,0.8277 -11.92236,4.77655 -2.28779,2.25126 -3.16289,6.25129 -3.004,10.4832 2.0742,8.67238 5.65812,9.41418 9.46284,12.06304 z"
               id="path4850-1-8"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-20"
               cx="-492.08923"
               cy="348.89713"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(-0.39491205,-0.91871893,0.91871893,-0.39491205,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 453.1983,436.50976 c -3.78043,-25.91291 -10.62347,-41.35525 -17.62021,-58.81555 20.60451,0.95166 41.13149,1.59968 59.87016,-4.7558 l -11.30856,21.16652 c -4.30812,-1.37297 -8.09528,-2.53268 -12.84105,-0.25546 -2.985,1.17981 -5.35187,4.52108 -6.85726,8.47936 -1.47504,8.79414 1.53514,10.87588 4.00428,14.79962 z"
               id="path4850-1-45"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-83"
               cx="-408.05124"
               cy="474.75046"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(-0.00502543,-0.99998737,0.99998737,-0.00502543,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 373.86259,496.56103 c 5.57813,-25.58624 4.60563,-42.44883 4.19925,-61.25445 18.95233,8.14005 37.93894,15.96859 57.71557,16.61222 l -18.0325,15.83458 c -3.54963,-2.80092 -6.68665,-5.21889 -11.93019,-4.75697 -3.20924,0.0542 -6.60033,2.34909 -9.40211,5.52467 -4.47475,7.71293 -2.38944,10.72063 -1.45864,15.26221 z"
               id="path4850-1-40"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-18"
               cx="-305.18027"
               cy="546.73346"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(0.34711872,-0.93782119,0.93782119,0.34711872,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 277.07287,518.82706 c 15.64812,-20.99778 21.72732,-36.75648 29.12461,-54.05089 13.89804,15.24126 27.95595,30.21297 45.70099,38.96762 l -22.96273,6.97271 c -2.07582,-4.01697 -3.93404,-7.51475 -8.90019,-9.25984 -2.94509,-1.27618 -6.98129,-0.58682 -10.84453,1.14798 -7.26094,5.17604 -6.60411,8.7765 -7.63225,13.29705 z"
               id="path4850-1-30"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-13"
               cx="-143.09239"
               cy="585.65582"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(0.70348014,-0.71071491,0.71071491,0.70348014,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 179.23625,503.04293 c 22.6343,-13.17043 34.41116,-25.2782 48.00314,-38.28106 6.80018,19.47329 13.8532,38.76142 26.73774,53.77869 l -23.85674,-2.60016 c -0.33251,-4.50938 -0.66864,-8.45583 -4.55126,-12.01017 -2.2078,-2.32977 -6.19065,-3.28001 -10.42479,-3.20083 -8.70991,1.91059 -9.51904,5.47992 -12.23906,9.23409 z"
               id="path4850-1-38"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccc" />
            <ellipse
               style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.39105844;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path3350-8-0-5"
               cx="6.7789187"
               cy="557.23456"
               rx="12.654758"
               ry="12.654757"
               transform="matrix(0.92599022,-0.3775475,0.3775475,0.92599022,0,0)" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
               d="m 265.80749,518.25035 c -25.3532,-30.02351 -38.16279,-69.6392 -41.08384,-116.8167 l 9.89972,23.26434 17.32451,-18.80946 13.85961,21.77938 14.35459,-21.77938 17.8195,18.80946 8.90974,-24.25431 c -3.60912,37.51489 -7.78816,75.1289 -41.08383,117.80667 z"
               id="path5007"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 86.103071,439.89629 c 9.151938,-37.41776 26.183269,-77.06876 58.164789,-111.81183 l -9.9786,23.23062 25.56779,-0.4714 -6.1691,25.06734 25.66287,-4.67043 -1.28609,25.8781 22.6401,-8.21662 c -29.61429,23.31066 -60.74403,45.57776 -114.601759,50.99422 z"
               id="path5007-0"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 443.55489,444.25782 C 408.71773,438.65818 367.00583,420.85425 331.39304,389.0681 l 23.23062,9.9786 -0.4714,-25.56779 25.06734,6.1691 -4.67043,-25.66287 25.8781,1.28609 -8.74163,-24.56513 c 24.1064,25.63558 47.51558,58.5091 51.86925,113.55173 z"
               id="path5007-0-1"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccccc" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="M 88.515505,84.483246 C 123.35267,90.056314 163.31453,107.08193 198.92732,140.548 l -23.23062,-9.97861 0.47141,25.5678 -25.06734,-6.16911 4.67043,25.66287 -25.8781,-1.28609 10.31666,23.69011 c -24.1064,-25.63558 -48.040585,-52.98 -52.394265,-112.151704 z"
               id="path5007-0-1-9"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="M 445.85286,87.803232 C 440.25322,122.6404 421.57427,162.60226 389.78813,198.21505 l 9.97859,-23.23062 -25.56778,0.4714 6.1691,-25.06734 -26.36289,6.77048 1.98611,-27.97815 -23.69011,10.31667 c 25.13889,-22.61632 51.68841,-44.165831 112.15169,-52.394268 z"
               id="path5007-0-1-7"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccccc" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 265.89247,12.683546 c 22.64405,27.720981 40.94219,68.072099 40.63278,116.974354 l -9.80987,-23.30237 -17.39697,18.74246 -13.77546,-21.83269 -14.43853,21.72383 -17.74678,-18.87808 -9.00326,24.21975 c 1.6484,-33.652319 7.78543,-64.442017 40.0627,-117.124476 z"
               id="path5007-0-1-0"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 518.03364,266.08062 c -27.72099,22.64405 -68.0721,40.94219 -116.97436,40.63278 l 23.30237,-9.80987 -18.24747,-17.89196 21.3377,-13.28047 -21.72383,-14.43853 18.87808,-17.74678 -24.21975,-9.00326 c 33.92079,0.84298 65.87367,3.49049 117.12448,40.0627 z"
               id="path5007-0-1-0-9"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 12.967075,264.86813 c 27.72099,-22.64405 68.74209,-40.30223 117.644345,-39.99282 l -23.97236,9.16991 18.74246,17.39697 -21.83269,13.77546 21.72383,14.43853 -18.87808,17.74678 24.21975,9.00326 C 96.693545,305.56324 64.740665,302.91573 13.489855,266.34352 Z"
               id="path5007-0-1-0-9-4"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="cccccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 162.22869,416.3474 c -2.30952,27.7673 1.37566,56.40962 6.47515,84.17692 21.0414,-16.50816 43.69826,-31.01617 61.25139,-56.35129 l -5.95013,-43.05098 -20.30047,14.70034 -3.85008,-26.2506 z"
               id="path5096"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 369.50883,417.47873 c -0.90733,27.7673 -1.5649,56.27708 -6.54764,84.04438 -21.0414,-16.50816 -44.58571,-30.66616 -62.13884,-56.00128 l 6.83758,-43.40099 20.30047,14.70034 4.61015,-25.53299 z"
               id="path5096-8"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccccc" />
            <path
               style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 162.18954,112.74186 c -2.30952,-27.767291 1.20066,-55.534591 6.30015,-83.301901 21.04141,16.50817 43.34826,30.66617 60.90139,56.00129 l -5.60012,43.400981 -20.30047,-14.70034 -5.60012,23.80054 z"
               id="path5096-84"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 368.48836,111.57178 c 2.30952,-27.767299 -0.45818,-54.79212 -5.55767,-82.55942 -21.0414,16.50816 -43.69826,31.366176 -61.25139,56.701296 l 3.50007,44.451014 22.75053,-16.45038 4.64017,25.90059 z"
               id="path5096-2"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 111.6678,162.29565 c -27.7673,-2.30952 -54.834584,0.32564 -82.601884,5.42513 16.50816,21.0414 30.66616,43.34825 56.00128,60.90138 l 44.885954,-4.11516 -16.1853,-21.78543 26.6006,-4.46517 z"
               id="path5096-2-8"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 417.60121,161.33315 c 27.76731,-2.30952 55.53461,1.20066 83.30191,6.30015 -16.50816,21.04139 -30.66616,43.34824 -56.00128,60.90137 l -43.401,-5.60012 14.70034,-20.30047 -26.2506,-3.94016 z"
               id="path5096-2-8-2"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 114.5681,368.12588 c -27.767304,2.30952 -55.534604,-1.20066 -83.301904,-6.30015 16.50816,-21.0414 30.418667,-42.11079 55.753787,-59.66392 l 43.648487,4.36266 -14.70034,20.30047 23.80054,4.11516 z"
               id="path5096-2-8-23"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccccc" />
            <path
               style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 420.24019,367.17422 c 26.37383,3.19881 53.87973,1.9549 81.97952,-4.2001 -16.50816,-21.0414 -30.66616,-43.34825 -56.00128,-60.90138 l -43.401,5.60012 12.7204,20.54796 -21.8206,3.86767 z"
               id="path5096-2-8-23-5"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccccccc" />
            <g
               inkscape:groupmode="layer"
               id="layer4"
               inkscape:label="capa 1">
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 186.20424,264.61895 c -42.90734,-27.4803 -1.42269,-68.66766 23.45053,-56.00128 -10.96837,-25.157 27.71269,-64.80875 55.65127,-22.75051 8.55063,-30.50155 68.34028,-22.29439 55.73619,23.39048 38.40677,-13.17812 60.0547,37.30105 23.0156,55.36131 42.14208,24.70898 8.3403,66.36232 -22.0505,55.30126 6.70708,45.87359 -41.69377,56.94807 -56.00128,23.80054 -23.3658,34.78822 -67.17693,16.38491 -54.95125,-23.45054 -36.67868,10.65851 -60.85699,-31.37985 -24.85056,-55.65126 z"
                 id="path4461"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
                 d="m 154.70352,289.46951 c 0.28728,-10.17711 6.60062,-17.77163 13.3003,-25.20057 -9.56292,-9.68267 -11.48681,-14.08992 -15.05034,-21.00047 -18.25374,4.19428 -34.82993,11.32427 -49.35112,22.0505 14.24533,10.47298 32.65577,19.16092 51.10116,24.15054 z"
                 id="path4168"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 168.51405,203.31053 c 7.44118,-6.94874 17.28076,-7.79579 27.27412,-8.25164 0.16613,-13.60793 4.74896,-17.72412 7.15995,-25.11612 -15.81335,-10.03638 -35.33592,-17.16609 -53.17216,-19.95634 2.56277,17.49413 9.32279,36.69639 18.73809,53.3241 z"
                 id="path4168-4"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 204.88769,360.82047 c -7.13802,-7.25981 -8.23811,-17.07432 -8.9511,-27.05262 -13.6077,0.18426 -17.62333,-3.46287 -25.07495,-5.68275 -9.62593,16.0665 -18.21786,33.88795 -20.548,51.79011 17.42237,-3.01234 38.19426,-9.21447 54.57405,-19.05474 z"
                 id="path4168-8"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 377.20499,240.67147 c -0.28728,10.17711 -6.60062,17.77163 -13.3003,25.20057 9.56292,9.68267 10.26178,13.91492 13.82531,20.82547 18.25374,-4.19428 36.05496,-11.14927 50.57615,-21.8755 -14.24533,-10.47298 -32.65577,-19.16092 -51.10116,-24.15054 z"
                 id="path4168-3"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 361.19051,325.62429 c -7.44519,6.94445 -17.28525,7.78581 -27.27886,8.2359 -0.174,13.60783 -2.87555,18.57609 -5.29081,25.9667 15.80756,10.0455 34.49239,17.38177 52.32701,20.18234 -2.55269,-17.49563 -10.35164,-37.7518 -19.75734,-54.38494 z"
                 id="path4168-8-6"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 327.74592,169.61735 c 6.94874,7.44118 6.39576,16.23074 6.85161,26.2241 13.60793,0.16613 18.77414,5.44898 26.16614,7.85997 10.03638,-15.81335 17.5161,-34.98592 20.30635,-52.82216 -17.49413,2.56277 -36.69639,9.32279 -53.3241,18.73809 z"
                 id="path4168-4-4"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 150.15342,288.06948 c -14.77495,11.82895 -26.7562,24.4561 -35.0008,38.15087 14.01845,5.32482 32.44637,5.90099 52.50119,4.72511 l 3.15008,-3.32508 c -11.96558,-9.94217 -17.66136,-22.9615 -16.10037,-38.50088 z"
                 id="path4547"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 289.13701,381.00923 c 11.82895,14.77495 24.4561,26.7562 38.15087,35.0008 5.32482,-14.01845 5.90099,-32.44637 4.72511,-52.50119 l -4.06756,-3.64507 c -9.94217,11.96558 -22.21902,18.15635 -37.7584,16.59536 z"
                 id="path4547-5"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 363.30638,329.61779 c 18.79646,2.21734 36.20005,1.8848 51.74062,-1.85824 -6.04955,-13.72128 -18.57643,-27.24894 -33.49315,-40.70516 l -4.5794,0.0911 c 1.32019,15.50092 -4.47766,28.87222 -16.63968,38.66989 z"
                 id="path4547-4"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 200.15317,363.43618 c -1.24522,18.88579 -0.0158,36.24906 4.52357,51.57598 13.39111,-6.749 26.25487,-19.95671 38.92407,-35.5474 l -0.3271,-4.56862 c -15.41224,2.11768 -28.86285,-2.46773 -39.27458,-14.10839 z"
                 id="path4547-5-6"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 241.62211,153.96089 c 10.17711,0.28728 17.77163,6.60062 25.20057,13.3003 9.68267,-9.56292 14.78994,-10.43679 22.75051,-12.25028 -4.19428,-18.25374 -13.07431,-37.62999 -23.80054,-52.15118 -10.47298,14.24533 -19.16092,32.65577 -24.15054,51.10116 z"
                 id="path4168-5"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 289.90868,377.50982 c -19.8835,-9.11127 -17.82097,-6.64547 -25.20057,-13.3003 -9.68267,9.56292 -14.78994,10.43679 -22.75051,12.25028 4.19428,18.25374 13.07431,37.62999 23.80054,52.15118 10.47298,-14.24533 19.16092,-32.65577 24.15054,-51.10116 z"
                 id="path4168-5-7"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 381.46335,241.7326 c 14.43738,-12.23868 26.05977,-25.19691 33.91702,-39.11751 -14.16227,-4.92956 -31.81159,-4.98866 -51.82554,-3.25077 l -3.84308,3.41215 c 12.23972,9.60264 18.29842,22.45711 17.17387,38.03416 z"
                 id="path4547-4-2"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 166.81316,200.30995 c -18.83479,-1.86382 -35.70405,-1.37939 -51.17155,2.65495 6.30626,13.6052 19.08507,26.89515 34.25196,40.06875 l 4.57688,-0.17712 c -1.61118,-15.47338 2.8878,-29.29142 14.86361,-39.31585 z"
                 id="path4547-4-2-9"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 331.34682,165.98904 c 1.24522,-18.88579 0.0158,-36.24906 -4.52357,-51.57598 -13.39111,6.749 -26.25487,19.95671 -38.92407,35.5474 l 0.3271,4.56862 c 15.41224,-2.11768 28.86285,2.46773 39.27458,14.10839 z"
                 id="path4547-5-6-6"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 242.09312,148.16312 c -12.21101,-14.4608 -25.14693,-26.10798 -39.05248,-33.99187 -4.95667,14.15282 -5.05107,32.58949 -3.35151,52.60673 l 3.40629,3.06209 c 9.62607,-12.22132 22.49211,-18.25537 38.06697,-17.101 z"
                 id="path4547-5-6-0"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccccc" />
            </g>
            <g
               inkscape:groupmode="layer"
               id="layer5"
               inkscape:label="capa 2">
              <ellipse
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 id="path4164"
                 cx="200.37958"
                 cy="291.91959"
                 rx="20.712093"
                 ry="20.187082" />
              <ellipse
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 id="path4164-7"
                 cx="199.85455"
                 cy="237.66833"
                 rx="20.712093"
                 ry="20.187082" />
              <ellipse
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 id="path4164-7-2"
                 cx="238.35542"
                 cy="198.81744"
                 rx="20.712093"
                 ry="20.187082" />
              <ellipse
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 id="path4164-7-2-1"
                 cx="292.95667"
                 cy="199.51746"
                 rx="20.712093"
                 ry="20.187082" />
              <ellipse
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 id="path4164-7-2-19"
                 cx="331.45752"
                 cy="237.66833"
                 rx="20.712093"
                 ry="20.187082" />
              <ellipse
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 id="path4164-7-2-9"
                 cx="331.45755"
                 cy="291.91956"
                 rx="20.712093"
                 ry="20.187082" />
              <ellipse
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 id="path4164-7-2-91"
                 cx="292.60666"
                 cy="330.77045"
                 rx="20.712093"
                 ry="20.187082" />
              <ellipse
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 id="path4164-7-2-3"
                 cx="238.70543"
                 cy="330.77045"
                 rx="20.712093"
                 ry="20.187082" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 229.17852,300.95149 c 12.48002,-2.88663 24.94387,-5.48212 36.13398,14.84958 7.52957,-9.62994 13.33126,-20.98776 36.13398,-15.34456 -4.34946,-17.02857 0.71972,-28.67505 14.84958,-35.14401 -11.83073,-7.97527 -20.04359,-18.17693 -14.84958,-36.62896 -18.55031,5.75669 -28.92793,-1.19969 -35.63899,-13.85961 -7.72794,12.75833 -18.21133,20.00575 -35.14401,14.35459 2.28677,13.81257 2.1972,27.03105 -16.33454,35.63899 12.15607,5.86791 20.99413,14.57983 14.84958,36.13398 z"
                 id="path4363"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 155.40353,279.66929 c -10.6169,-3.62416 -21.23381,-9.28008 -31.85072,-14.70034 10.10471,-4.83039 18.96172,-9.34887 32.55074,-15.05034 3.43543,5.72943 6.85537,11.48985 11.20026,15.40035 z"
                 id="path4154"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 175.97723,196.92028 c -4.88425,-10.09937 -8.32326,-21.62679 -11.9299,-32.98858 10.5382,3.79266 21.02759,7.96704 34.63439,13.62593 -1.66087,6.47071 -4.40469,11.90217 -4.13247,17.74134 z"
                 id="path4154-0"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 199.04987,353.27681 c -9.97027,5.14263 -22.64278,9.12478 -33.90795,13.02274 3.52009,-10.63235 7.10041,-21.89907 12.40711,-35.64705 6.51132,1.49372 12.33424,4.77012 18.16447,4.34767 z"
                 id="path4154-2"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 375.95598,250.29153 c 10.6169,3.62416 21.23381,9.28008 31.85072,14.70034 -10.10471,4.83039 -18.96172,9.34887 -32.55074,15.05034 -3.43543,-5.72943 -7.20538,-10.43983 -11.55027,-14.35033 z"
                 id="path4154-07"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 352.86534,331.35279 c 4.8784,10.10218 9.01078,23.38162 12.61086,34.74549 -10.53601,-3.79875 -19.97357,-6.92855 -33.5771,-12.5953 1.6646,-6.46974 3.36213,-12.95025 3.09329,-18.78958 z"
                 id="path4154-2-9"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 333.39647,177.45546 c 10.09937,-4.88425 21.62679,-8.32326 32.98858,-11.9299 -3.79266,10.5382 -7.61704,20.85259 -13.27593,34.45939 -6.47071,-1.66087 -12.25217,-4.22969 -18.09134,-3.95747 z"
                 id="path4154-0-8"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none;fill-opacity:1"
                 d="m 154.93062,298.97155 c -10.81918,6.16204 -16.41864,13.56977 -20.84946,20.64443 9.06039,1.57104 19.24715,2.33405 28.76924,1.13495 -3.97185,-6.37185 -8.03803,-12.68081 -7.91978,-21.77938 z"
                 id="path4545"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 299.8839,376.51201 c 6.16204,10.81918 13.56977,16.41864 20.64443,20.84946 1.57104,-9.06039 2.08656,-20.48461 0.88746,-30.0067 -6.37185,3.97185 -12.43332,9.27549 -21.53189,9.15724 z"
                 id="path4545-3"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 367.42252,319.17263 c 11.98373,3.3787 21.19009,2.16574 29.33883,0.35435 -5.242,-7.55514 -11.85017,-15.34517 -19.38901,-21.28435 -1.7492,7.3018 -3.38739,14.62664 -9.94982,20.93 z"
                 id="path4545-7"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 210.396,367.01386 c -2.7563,12.14199 -1.07026,21.27358 1.15886,29.31808 7.27482,-5.62458 14.71376,-12.62561 20.25634,-20.46066 -7.38228,-1.37039 -14.78184,-2.62873 -21.4152,-8.85742 z"
                 id="path4545-3-9"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 249.84729,155.18591 c 3.62416,-10.6169 10.50511,-22.45884 15.92537,-33.07575 4.83039,10.10471 9.34887,21.41178 15.05034,35.0008 -4.32006,2.8032 -7.95357,2.7347 -14.70033,8.7502 -10.94014,-7.86911 -16.26812,-8.35151 -16.27538,-10.67525 z"
                 id="path4154-6"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 281.44844,374.23236 c -3.62416,10.6169 -10.27005,23.46125 -15.69031,34.07816 -4.83039,-10.10471 -9.34887,-21.41178 -15.05034,-35.0008 4.32006,-2.8032 7.95357,-2.7347 14.70033,-8.7502 10.94014,7.86911 16.03306,7.3491 16.04032,9.67284 z"
                 id="path4154-6-2"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 377.02887,231.40323 c 10.64209,-6.46306 16.03159,-14.02491 20.26224,-21.22107 -9.10089,-1.31629 -19.30505,-1.79331 -28.78976,-0.3276 4.149,6.25794 8.39055,12.45037 8.52752,21.54867 z"
                 id="path4545-7-6"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 162.85565,210.11084 c -12.04508,-3.15296 -21.22703,-1.76726 -29.3403,0.19689 5.38301,7.45534 12.13636,15.11985 19.78546,20.91635 1.61171,-7.33338 3.11199,-14.6877 9.55484,-21.11324 z"
                 id="path4545-7-6-2"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 320.73702,162.12687 c 2.7563,-12.14199 0.89526,-20.57356 -1.33386,-28.61806 -7.27482,5.62458 -14.71376,12.62561 -20.25634,20.46066 7.38228,1.37039 14.95684,1.92871 21.5902,8.1574 z"
                 id="path4545-3-9-7"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccc" />
              <path
                 style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 d="m 231.95416,153.20347 c -6.44268,-10.65444 -14.34422,-15.0084 -21.53225,-19.25283 -1.33372,9.09836 -1.83026,19.30158 -0.38275,28.78909 6.26588,-4.13701 12.81644,-9.4167 21.915,-9.53626 z"
                 id="path4545-3-9-3"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccc" />
            </g>
            <g
               inkscape:groupmode="layer"
               id="layer6"
               inkscape:label="capa 3">
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 250.25569,275.4692 c -9.13723,-0.5624 -18.11129,-1.55992 -24.50055,-9.45022 2.88924,-8.10517 9.07258,-8.39711 14.52533,-11.37526 3.64591,2.4136 6.09237,4.52733 7.87518,6.47515 z"
                 id="path4172"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 281.39241,254.69786 c 9.13722,0.5624 18.11129,1.55992 24.50054,9.45022 -2.88923,8.10517 -9.59758,8.57211 -15.05034,11.55026 l -7.35016,-6.65015 z"
                 id="path4172-7"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 261.52013,247.36485 c -6.5259,-6.42013 -13.26635,-12.42805 -23.40574,-11.90612 -4.09718,7.56668 0.0396,12.86832 1.4693,18.91462 l 8.45926,5.74683 c 2.5015,-5.57904 6.77789,-9.97482 13.47718,-12.75533 z"
                 id="path4172-72"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 283.06834,268.67089 c 5.95151,6.95592 13.22695,14.09725 12.00227,24.17593 -7.8329,3.56191 -12.8345,-0.93299 -18.76694,-2.77906 l -0.33469,-9.90643 z"
                 id="path4172-72-5"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.47631395;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 261.57959,282.57082 c -5.92427,6.52387 -13.93466,12.7883 -23.62223,11.12045 -3.10981,-7.99302 1.09596,-12.97459 3.13155,-18.82876 l 9.58726,0.10018 z"
                 id="path4172-72-5-2"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 269.70623,247.08 c 6.95592,-5.95151 14.09725,-12.52693 24.17593,-11.30225 3.56191,7.8329 -0.93299,12.8345 -2.77906,18.76694 l -9.90643,0.33469 z"
                 id="path4172-72-5-9"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="ccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 255.66027,289.07183 c 2.17034,5.72026 4.04498,11.49966 9.40474,16.58203 4.73167,-3.7097 9.24888,-7.74107 11.38468,-15.34457 l -0.74248,-9.65222 c -4.5108,0.76628 -9.02628,1.51384 -13.85961,0.98997 z"
                 id="path4288"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccccc" />
              <path
                 style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
                 d="m 255.33081,240.81841 c 1.60628,-7.55167 5.81346,-13.08435 10.67524,-16.45038 4.10012,3.81671 8.05976,7.91436 10.32524,15.40035 l -6.65015,7.35017 -7.52518,0 z"
                 id="path4290"
                 inkscape:connector-curvature="0"
                 sodipodi:nodetypes="cccccc" />
              <ellipse
                 style="fill:#ffffff;fill-opacity:1;stroke:#000000;stroke-width:1.5706023;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                 id="path4373"
                 cx="265.3125"
                 cy="264.94125"
                 rx="17.27235"
                 ry="16.901112" />
            </g>
            <g
               inkscape:groupmode="layer"
               id="layer2"
               inkscape:label="capa alta" />
          </svg>
        </div>
</div>