	<link rel="stylesheet" type="text/css" href="resources/css/memoria/estiloMemoria.css">
	<link rel="stylesheet" type="text/css" href="resources/css/memoria/estiloPpal.css">
	<script type="text/javascript" src="resources/web-inf/memoriaadv.js"></script>
		<form>
			
			<div class="row" id="botons">
				<a class="waves-effect waves-light btn" onclick="limpiar();" id="limpiar"><i class="material-icons right">loop</i>Reset</a>

			</div>
			<p id="contador">Contador de intentos: 0</p>
			<hr>
			
			<div class="tabla" id="tabla"></div>
			
		</form>
		
<script type="text/javascript">
	 // se puede optmizar con funciones matematicas como mod en el recorrido de las columnas
	var id = 0, max_columnas = 5, max_filas = 4, tab="";
	for (var cant_columnas, i = 0; i < max_filas; i++) { // cantidad de filas
		tab +='<div class="row">';
		cant_columnas = 0;
		while (cant_columnas<max_columnas){ // cantidad POR filas
			tab+='<div class="col s2 m2 l2 offset-s1 memory"><img src="resources/images/tincho reading.png" class="responsive-img" id="'+id+'a" alt="Error al cargar." onclick="evento('+id+');"/></div>';
			cant_columnas++; id++;
		}
		tab += '</div>';
	}
	$("#tabla").html(tab);
</script>