<script src="resources/interact/interact.js"></script>
<script src="resources/web-inf/data.js"></script>
<script src="resources/web-inf/DragNDrop_core.js"></script>
<style type="text/css">
	.modal { height: 85% !important }
</style>
<div id="modal1" class="modal modal-fixed-footer">
	<div class="modal-content"><div id ="grid" class="card-panel grey lighten-5 z-depth-1"></div></div>
	<div class="modal-footer"><a onclick="closeModal()" class="modal-action modal-close waves-effect waves-red btn-flat ">Exit</a></div>
</div>

<script type="text/javascript">
//contador de aperturas del modal
var modal_ = {'myclassroom4':false,'InTheClassroom2':false,'MyFamily2':false};
function closeModal(){$('#modal1').closeModal();}
function openModal(name){
	//modal_clicks++;//se utiliza en dragNdrop_core
	switch(name){
		case "MyClassroom":
			initLesson($("#grid"),MyClassroom_lesson4,modal_.myclassroom4);//ver data.js y dragNdrop_core.js
			modal_.myclassroom4=true;
			break;
		case "InTheClassroom":
			initLesson($("#grid"),InTheClassroom_lesson2,modal_.InTheClassroom2);
			modal_.InTheClassroom2=true;
			break;
		case "MyFamily":
			initLesson_withoutText($("#grid"),MyFamily_lesson2,modal_.MyFamily2);
			modal_.MyFamily2=true;
			break;
		case "MySchoolbag":
			$.get("memoria.html", function( data ) {
				$("#grid").html( cardPanel("<h1>Memory Game</h1>","resources/images/tincho reading.png")+data );
			});
		break;
		case "Lets play":
			$.get("labyrinth.html", function( data ) {
					$("#grid").html(cardPanel("<h1>Let's Play</h1><h2>Help Tincho find the chipá</h2>","resources/images/tincho reading.png")+ data );
				});
		break;
		case "whatamess":
			$.get("words.html", function( data ) {
					$("#grid").html(cardPanel("<h1>What a Mess</h1>","resources/images/tincho reading.png")+ data );
				});
		break;
		case "welcome":
			$.get("MIC1/tablero1.html",function(data){
				$("#grid").html(cardPanel("<h1>Welcome</h1>","resources/images/tincho reading.png")+ data );
			});
		break;
		case "pencils":
			$.get("pencils.html",function(data){
				$("#grid").html(cardPanel("<h1>How many pencils are there?</h1>","resources/images/tincho reading.png")+ data );
			});
		break;
	}
	$('#modal1').openModal();
}
</script>