
<link rel="stylesheet" type="text/css" href="resources/css/style-number.css">

<script type="text/javascript" src="resources/web-inf/number.js"></script>


	
<div class="container">
	<div id="questions"></div>
	
	<div id="imagesnumbers"></div>
	
	<div id="colors">
		<div class="color">
			<div class="imagen"><img src="resources/images/images-numbers/pote_blue.png" class="responsive-img" onclick="select_color('blue')" title="Blue"></div>
			<div class="texto" id="text_blue"></div>
		</div>

		<div class="color">
			<div class="imagen"><img src="resources/images/images-numbers/pote_red.png" class="responsive-img" onclick="select_color('red')" id="red" title="Red"></div>
			<div class="texto" id="text_red"></div>
		</div>

		<div class="color">
			<div class="imagen"><img src="resources/images/images-numbers/pote_green.png" class="responsive-img" onclick="select_color('green')" id="green" title="Green"></div>
			<div class="texto" id="text_green"></div>
		</div>
	</div>

	<div id="button"><a class="waves-effect waves-light btn">Reset</a></div>

	

</div>
<!-- <script type="text/javascript">
	$(document).ready(function(){
	    $('.tooltipped').tooltip({delay: 50}); // inicializar los tooltip
	});
</script> -->