
	
<link rel="stylesheet" type="text/css" href="resources/materialize/css/materialize.css">
<link rel="stylesheet" type="text/css" href="resources/css/stylesPencils.css">
<link rel="stylesheet" type="text/css" href="resources/css/memoria/estiloMemoria.css">
<!--script type="text/javascript" src="jquery-3.1.1.min.js"></script-->
<script type="text/javascript" src="resources/web-inf/pencils.js"></script>
<br clear="all">
<div class="row">
	<div id="left">
		<div id="pregunta"></div>
		<div id="ask"></div>
	
		<a class="waves-effect waves-light btn" onclick="mostrar_de_nuevo()" id="show" disabled><i class="material-icons right">loop</i>Show Again</a>
		
	
		<div id="mensaje"></div>
	</div>
	
	<div id="right">
		<div id="lapices"></div>
	</div>

</div>