<script src="resources/web-inf/tablero3.js"></script>
<script type="text/javascript">
	var position = 0;
	var question;
	var max_lockers = 19;
	function random(max){
		return Math.floor(Math.random() * ((max-1)+1) + 1);
	}
	function rolldice(){
		var status = $('#roll').data('status');
		if(status=='enabled'){
			var result = random(6);
			$('#roll').data('status','disabled');
			$('#dice').html('<img src="resources/images/tablero/dice/'+result+'.png" class="responsive-img" width="50px"/>');
			position+=result;
			checkRestart();
			if(position<=max_lockers){
				$('#tablero').html('<img src="resources/images/tablero/TheWorldAroundUs/'+position+'.png" class="responsive-img"/>');
				showQuestion();
				$('#roll').addClass("disabled");
			}else{
				finish();
			}
		}
	}
	function finish(){
		$('#tablero').html('<img src="resources/images/tablero/TheWorldAroundUs/finish.png" class="responsive-img"/>');
		$('#roll').addClass("disabled");
		 var $toastContent = $('<p class="white-text mic_font"><img src="resources/images/tincho paying mini.png"/> Congratulations, you did it!!!</p>');
		Materialize.toast($toastContent, 5000, 'rounded');
	}
	function showQuestion(){
		$('#question').delay(750).show(0);
		var questions = tablero3['lockers'][position-1]['questions'];
		question = questions[random(questions.length)-1];
		$('#question_title').html(question.question);
		$('#question_form').html('');
		var options = shuffle(question.options);
		for(i=0; i<options.length;i++){
			$('#question_form').append(' <p><input name="radio_question" type="radio" id="'+i+'" value="'+options[i]+'" onclick="checkAnswer()" /><label for="'+i+'">'+options[i]+'</label></p>');
		}
	}
	function checkAnswer(){
		var answer = $("#question_form input[type='radio']:checked").val();
		var $toastContent;
		if(answer==question.answer){
			$toastContent = $('<p class="white-text mic_font"><img src="resources/images/tablero/star.png" width="35px"/> Very good!</p>');
			Materialize.toast($toastContent, 3000, 'rounded');
			$('#roll').removeClass("disabled");
			$('#roll').data('status','enabled');
			$('#question').hide();
			unCheckRadios();
			if(position==max_lockers){finish();}
		}else{
			$toastContent = $("<p class='white-text mic_font'>Let's try again!</p>");
			Materialize.toast($toastContent, 3000, 'rounded');
		}
	}
	function checkRestart(){
		var status = $('#restart').data('status');
		if(position>0 && status == 'disabled'){
			$('#restart').removeClass("disabled")
			$('#restart').data('status','enabled');
		}
	}

	function restart(){
		var status = $('#restart').data('status');
		if(status=='enabled'){
			position = 0;
			$('#dice').html('<img src="resources/images/tablero/dice/dice.png" class="responsive-img"/>');
			$('#tablero').html('<img src="resources/images/tablero/TheWorldAroundUs/start.png" class="responsive-img"/>');
			$('#restart').addClass("disabled");
			$('#restart').data('status','disabled');
			$('#roll').removeClass("disabled");
			$('#roll').data('status','enabled');
			$('#question').hide();
		}
	}

	function unCheckRadios(){
		$('#test1').attr('checked', false);
		$('#test2').attr('checked', false);
		$('#test3').attr('checked', false);
	}

	function shuffle(array_) {
	  console.log("shuffle");
	  var array = array_.slice();
	  var currentIndex = array.length, temporaryValue, randomIndex;
	  // While there remain elements to shuffle...
	  while (0 !== currentIndex) {
	    // Pick a remaining element...
	    randomIndex = Math.floor(Math.random() * currentIndex);
	    currentIndex -= 1;
	    // And swap it with the current element.
	    temporaryValue = array[currentIndex];
	    array[currentIndex] = array[randomIndex];
	    array[randomIndex] = temporaryValue;
	  }
	  return array;
	}
	$(function(){
		$('.modal').leanModal();
		$('#question').hide();
		$('#cardPanel').append(cardPanel("<p>Welcome, Let's play!!</p>","resources/images/tincho reading.png"));
	});
</script>

<div id="inner"><div class="row"><div class="col s12"><!-- img--></div></div>
<div id="cardPanel"></div>
<div id="content" class="row">
	<div class="row">
		<div class="col s12 l8" id="tablero">
			<img src="resources/images/tablero/TheWorldAroundUs/start.png" class="responsive-img" />
		</div>
		<div class="col s12 l4">
			<a id="roll" class="waves-effect waves-light btn" onclick="rolldice()" data-status="enabled" style="margin-top:5%"><i class="material-icons">replay</i> Roll</a>
			<div id="dice" style="margin-top:5%;"><img src="resources/images/tablero/dice/dice.png" class="responsive-img" width="50px" /></div>
			<div id="question">
				<div class="card">
		            <div class="card-content">
		            <span id="question_title" class="card-title">Question</span>
		              <form action="#" id="question_form"></form>
		            </div>
		          </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s6">
			<a id="restart"class="btn disabled red" data-status="disabled" onclick="restart()" style="text-align: center"><i class="material-icons">loop</i> Restart</a>
		</div>
	</div>
</div>
</div>

