
<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
<link rel="stylesheet" type="text/css" href="resources/css/style-tincho.css">
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script> -->


<!-- <script type="text/javascript" src="resources/jquery/jquery-1.5.0.js"></script> -->


<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script> -->
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


<!-- <script>var $j = jQuery.noConflict(true);</script> -->

<script type="text/javascript" src="resources/web-inf/tincho-js.js"></script>

 
<div id="content">
 
  <div id="cardPile" class="col s5 cartas"> </div>
  <div id="cardSlots"class="col s5"> </div>
 
  <div id="successMessage">
    <h2>You did it!</h2>
    <button onclick="init()">Play Again</button>
  </div>
 
</div>
 
