
<link rel="stylesheet" type="text/css" href="resources/css/style-wordfind.css">

<!-- <p>WordFind.js by BunKat</p> -->
<div id='puzzle'></div>
<div id='words'></div>
<!-- <div><button id='solve'>Solve Puzzle</button></div> -->
<a class="waves-effect waves-light btn" onclick="iniciar();" id="reset"><i class="material-icons right">loop</i>reset</a>
<a class="waves-effect waves-light btn" onclick="solve();" id="solve"><i class="material-icons right"></i>solve</a>

 <script type="text/javascript" src="resources/web-inf/wordfind/wordfind.js"></script> 

<script type="text/javascript" src="resources/web-inf/wordfind/wordfindgame.js"></script> 
<script>


var words_json = {
  "words" : [
              ['chair','rubber','pencil','desk','teacher','class','smile','happy','sad'],
              ['apple', 'salad', 'carrots', 'barbecue', 'pasta', 'tennis', 'rugby', 'football','skating'],
              ['hotel', 'park', 'school', 'shop', 'hospital', 'cinema', 'bank', 'theatre', 'pharmacy']
             ]
};

var valores = new Array();

iniciar();

// console.log(Math.floor(Math.random() * words_json.words.length));
// console.log(words_json.words[Math.floor(Math.random() * words_json.words.length)]);
// var words = words_json.words[Math.floor(Math.random() * words_json.words.length)];

// // console.log(words);
//   // start a word find game
//   var gamePuzzle = wordfindgame.create(words, '#puzzle', '#words',{height: 11, width:11,orientations: ['horizontal', 'vertical']});

//   $('#solve').click( function() {
//     wordfindgame.solve(gamePuzzle, words);
//   });



  // function prepareWords(){
  //   var words = words_json.words[Math.floor(Math.random() * words_json.words.length)];
  //   return words;
  // }

  // function preparePuzzle(){
  //   var gamePuzzle = wordfindgame.create(prepareWords(words_json), '#puzzle', '#words',{height: 11, width:11,orientations: ['horizontal', 'vertical']});
  //   return gamePuzzle;
  // }


  function iniciar(){
    var words = words_json.words[Math.floor(Math.random() * words_json.words.length)];

    var gamePuzzle = wordfindgame.create(words, '#puzzle', '#words',{height: 11, width:11,orientations: ['horizontal', 'vertical']});

    valores = [gamePuzzle, words];

    return valores;
  }


  function solve(){
    wordfindgame.solve(valores[0], valores[1]);
  }





  // create just a puzzle, without filling in the blanks and print to console
  // var puzzle = wordfind.newPuzzle(
  //   words, 
  //   {height: 18, width:18,orientations: ['horizontal', 'vertical'], fillBlanks: false}
  // );
 
  // wordfind.print(puzzle);

</script>