body {
	font-family: Helvetica, Arial, sans-serif; 
	background-color: #fff;
}

.labyrinth {
	position: relative;
	margin-top: 30px;
	margin-bottom: 60px;
	margin-left: -2% !important;
}
.labyrinth-image {
	position: absolute;
}
.labyrinth canvas {
	position: absolute;
}
#lab1-mouse {
	top: 110px;
	left: 20px;
}
#lab1-cheese {
	top: 200px;
	right: 0;
}

#lab2-mouse {
	top: 0;
	left: 20px;
}
#lab2-cheese {
	top: 400px;
	right: 0;
}

#lab2-bear {
	top: 350px;
	left: 0;
}
#lab2-honey {
	top: 50px;
	right: 20px;
}

