<ul id="units" class="collapsible" data-collapsible="accordion">
<li>
<div class="collapsible-header"><img class="responsive-img" src="resources/images/unit1.png">My Personal World</div>
<div class="collapsible-body">
	<div class="row valign-wrapper">
		<div class="col s10">
			<a class="waves-effect waves-yellow" onclick="openModal('InTheClassroom');">
				<img class="responsive-img" src="resources/images/in the classroom.png">
			</a>
			<a class="waves-effect waves-yellow" onclick="openModal('MyClassroom');" style="margin-left:5%;">
				<img class="responsive-img" src="resources/images/my classroom.png">
			</a>
			<a class="waves-effect waves-yellow" onclick="openModal('MySchoolbag');" style="margin-left:5%;margin-top:5%">
				<img class="responsive-img" src="resources/images/my schoolbag.png">
			</a>
			<a class="waves-effect waves-yellow" onclick="openModal('MyFamily');" style="margin-left:5%;margin-top:5%">
				<img class="responsive-img" src="resources/images/my family.png">
			</a>
			<a class="waves-effect waves-yellow" onclick="openModal('welcome');" style="margin-left:5%;margin-top:5%">
				<img class="responsive-img" src="resources/images/welcome.png">
			</a>
			<a class="waves-effect waves-yellow" onclick="openModal('whatamess');" style="margin-left:5%;margin-top:5%">
				<img class="responsive-img" src="resources/images/what a mess.png">
			</a>
			<a class="waves-effect waves-yellow" onclick="openModal('pencils');" style="margin-left:5%;margin-top:5%">
				<img class="responsive-img" src="resources/images/pencils.png">
			</a>
		</div>
	</div>
</div>
</li>
<li>
<div class="collapsible-header"><img class="responsive-img" src="resources/images/unit2.png">My Social Life</div>
<div class="collapsible-body">
		<div class="row valign-wrapper">
		<div class="col s10">
			<a class="waves-effect waves-yellow" onclick="openModal('Lets play');">
				<img class="responsive-img" src="resources/images/lets play.png">
			</a>
		</div>
	</div>
</div>
</li>
<li>
<div class="collapsible-header"><img class="responsive-img" src="resources/images/unit3.png">The World Around Us</div>
<div class="collapsible-body"><p>Pendiente.</p></div>
</li>
</ul>
<script type="text/javascript">
	$(function(){
		$('.collapsible').collapsible();//inicializar acordeon
	})
</script>