body {display: flex;
	min-height: 100vh;
	flex-direction: column;}
main {flex: 1 0 auto;}
p{text-align:justify;}
.parallax-container {height: 590px;}
#llax2 {height: 700px;}



.dropzone-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.dropzone {
    overflow: hidden;
    margin: .5em;
    padding: 1em;
    color: #54C4C6;
    text-align: center;
    /*background: #ccc;*/
    line-height: 4em;
    min-width: 100%;
    border-radius: 25px;
    border-style: solid;
    border-color: #EBB51C;
    /*border: 4px dashed transparent;
    transition: background .15s linear, border-color .15s linear;*/
}

/*.dropzone.-drop-possible { border-color: #666; }*/

/*.dropzone.-drop-over {
    background: #666;
    color: #fff;
}*/

.draggable {
    position: relative;
    /*z-index: 10;
    width: 200px;*/
    margin: .25em;
    padding: 1em 2em;
    /*background-color: #29e;*/
    color: #fff;
    text-align: center;

    -ms-touch-action: none;
        touch-action: none;
}

.draggable.-drop-possible { background-color: #42bd41; }
.modal { width: 90% !important; max-height: 100% !important} 
.modal.modal-fixed-footer {height: 90%;}