/*css de mandala*/
	.selection {
		background-color:#000000;
		width:25px;
		height:25px;
		margin:4px;
		float:left;
		border-style: solid;
	    border-color: black;
	    border-width: 1px; 
	}

	.selected {
		float:left;
	}

	.svg-container {
	  width: 100%;
	}