#imagesnumbers{

	/*margin: 4% 0% ;*/
}
#button{
	margin-top: 5%;
}
#numbers{
	font-size: 500%;
}
.number{
	font-size: 65%;
	float: left;
	padding: 1% !important;
	color: rgb(97, 92, 92);
}
.number:hover{
	cursor: pointer;

}
#colors{
	width:100%;
	height:auto;
	position:relative;
	margin-top: 10%;
	/*margin:auto;*/
}
.color{
	width:20%;
	height:auto;
	position:relative;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
}
.color img{
	width: 50%;
	text-align: center;
}
.color img:hover{
	cursor: pointer;
}
.imagen, .texto{
	width:100%;
	height:auto;
	position:relative;
	display:inline;
}
div .resaltar{
	/*text-decoration: underline;*/
	font-size: x-large;
	font-weight: bold;
	text-transform: capitalize;
}

