html,
body {
	width: 100%;
	height: 100%;
}

path {
	pointer-events:all;
}

.canvas {
	max-width: 500px;
	max-height: 500px;
	width: 100%;

	.game-container {
		width: 100%;
		height: 100%;
	}

	.piezas {
		display: flex;
		div {
			display: flex;
			align-content: center;
			justify-content: center;
			width: 70px;
			height: 70px;
			min-width: 70px;
			min-height: 70px;
		}
	}

	.drag-slots {
		background: url(../../images/food/tablero_tablero.svg) no-repeat center center;
		background-size: contain;
		display: flex;
		flex-direction: row;
    flex-wrap: wrap;

		.ui-droppable {
			flex: 1 0 50%;
			text-align: center;
			min-height: 250px;
			height: 50%;
			padding: 10px;
		}
	}
}