/* line 1, styles.scss */
/*html,*/
/*.game {
  width: 100%;
  height: 100%;
}*/

/* line 7, styles.scss */
path {
  pointer-events: all;
}

/* line 11, styles.scss */
.canvas {
  max-width: 500px;
  max-height: 500px;
  width: 100%;
}
/* line 16, styles.scss */
/*.canvas .game-container {
  width: 100%;
  height: 100%;
}*/
/* line 21, styles.scss */
/*.canvas .piezas {
  display: flex;
}*/
/* line 23, styles.scss */
/*.canvas .piezas div {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  min-width: 70px;
  min-height: 70px;
}*/

.canvas .piezas {
  display: flex;
  align-content: center;
  justify-content: center;
  /*width: 70px;*/
  height: 70px;
  min-width: 70px;
  min-height: 70px;
}

/* line 34, styles.scss */
.canvas .drag-slots {
  background: url(../../images/food/tablero_tablero.svg) no-repeat center center;
  background-size: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 41, styles.scss */
.canvas .drag-slots .ui-droppable {
  flex: 1 0 50%;
  text-align: center;
  min-height: 200px;
  height: 50%;
  padding: 10px;
  border:1px solid white;
  max-height: 250px;
}
