
.tabla{
	margin-top: 50px;
}

.tabla div div{
    margin: auto;
    
}
.retro.incorrecto {
    background: #eaa6a6;
    border-bottom: 2px solid #842222;
    border-top: 2px solid #842222;
    color: #842222;
}
.retro {
    text-align: center;
    background: #b6dfed;
    border-bottom: 2px solid #197199;
    border-top: 2px solid #197199;
    color: #197199;
    display: none;
    margin-top: 2em;
    width: 100%;
}