body {

	font-family: helvetica, arial;
	font-size: 13px;
	
}
/*header{
	margin-top: 30px;
	margin-bottom: 15px;

}*/
header h1{
	text-align: center;
	font-size: 60px;
}

/*footer{
	
	text-align: center;
	margin-top: 100px;
	border-top: 2px solid black;
	padding: 30px;
	background-color: #aaa;
}*/

div.memory img{
	/*height: 25%;*/
    width: 80%;
}
.mayuscula{
	text-transform: uppercase;
}

/**
	MENU!!
*/

ul{
	list-style:none;
}

.nav > li {
	float:left;
}

.nav li a {
	background-color:#CCC;
	color:#000;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}