@font-face {
    font-family: MIC font;
    src: url("Adlibn.ttf") format("truetype"); /* TTF file for CSS3 browsers */
    
}

.mic_font{
     font-family: MIC font !important;
}

.index_color{
	color:#62BEE3;
}

li.active a {
    color:rgba(0, 0, 0, 0.87) !important;
}

mic_a{
     font-family: MIC font !important;
     color: #EBB51C !important;
}

mic_b{
     font-family: MIC font !important;
     color: #54C4C6 !important;
}

mic_c{
     font-family: MIC font !important;
     color: #EBB51C !important;
     text-shadow: -1px 0 #54C4C6, 0 3px #54C4C6, 3px 0 #54C4C6, 0 -1px #54C4C6;
}

a{color: black;}

/*
    ABOUT MIC
*/
#left{
    /*border: 1px solid black;*/
    float: left;
    width: 33%;
}
#medio{
    /*border: 1px solid red;*/
    float: left;
    width: 32%;
}
#rigth{
    /*border: 1px solid blue;*/
    float: left;
    width: 33%;
}
footer{
    clear: both;
}
.logo{
    width: auto;
    height: 10%;
}